@model CrossVertical.Announcement.ViewModels.TabListViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TabListView</title>
</head>
<body>

    @* Make this a Tab View
        @Model.SelectedTab property to decide selected tab.
    *@
    <div>
        @Model.FirstTab.Title
        @Html.Partial("_ListTabPage", Model.FirstTab)
    </div>
    <div>
        @Model.SecondTab.Title
        @Html.Partial("_ListTabPage", Model.SecondTab)
    </div>
</body>
</html>
